extends _

snippet rafce
	export const ${1:ComponentName} = (${2:props}) => {
		${3:state}

		return (
			<>
				${4}
			</>
		)
	}

snippet rafc
	export function ${1:ComponentName} (${2:props}) {
		${3:state}

		return (
			<>
				${4}
			</>
		)
	}

snippet import
	import ${1:name} from '${2}'
